# main repository
git     / git://github.com/oe-legacy/openengine.git
git-dev / git@github.com:oe-legacy/openengine.git

# project repository
git     /projects/Terrain git://github.com/oe-legacy/projects-Terrain.git
git-dev /projects/Terrain git@github.com:oe-legacy/projects-Terrain.git

# dist dependencies
dist /extensions/HeightMap/HeightMap.dist                               https://raw.github.com/oe-legacy/extensions-HeightMap/master/HeightMap.dist
dist /extensions/Inspection/Inspection.dist                             https://raw.github.com/oe-legacy/extensions-Inspection/master/Inspection.dist
dist /extensions/HUD/HUD.dist                                           https://raw.github.com/oe-legacy/extensions-HUD/master/HUD.dist
dist /extensions/SDL/SDL.dist                                           https://raw.github.com/oe-legacy/extensions-SDL/master/SDL.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist                     https://raw.github.com/oe-legacy/extensions-OpenGLRenderer/master/OpenGLRenderer.dist
dist /extensions/CairoResource/CairoResource.dist                       https://raw.github.com/oe-legacy/extensions-CairoResource/master/CairoResource.dist
dist /extensions/GenericHandlers/GenericHandlers.dist                   https://raw.github.com/oe-legacy/extensions-GenericHandlers/master/GenericHandlers.dist
dist /extensions/TexUtils/TexUtils.dist                                 https://raw.github.com/oe-legacy/extensions-TexUtils/master/TexUtils.dist
dist /extensions/FreeImage/FreeImage.dist                               https://raw.github.com/oe-legacy/extensions-FreeImage/master/FreeImage.dist
dist /extensions/OpenGLPostProcessEffects/OpenGLPostProcessEffects.dist https://raw.github.com/oe-legacy/extensions-OpenGLPostProcessEffects/master/OpenGLPostProcessEffects.dist
dist /extensions/AntTweakBar/AntTweakBar.dist                           https://raw.github.com/oe-legacy/extensions-AntTweakBar/master/AntTweakBar.dist

# project data
any /projects/Terrain/data	http://www.openengine.dk/data/projects/Terrain/textures.zip
