# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Terrain

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/Terrain http://openengine.dk/code/projects/Terrain
darcs-dev /projects/Terrain fh.daimi.au.dk:/users/cgd/code/projects/Terrain

# dist dependencies
dist /extensions/HeightMap/HeightMap.dist http://openengine.dk/code/extensions/HeightMap/HeightMap.dist

# required extensions
darcs /extensions/HUD                    http://openengine.dk/code/extensions/HUD
darcs /extensions/SDL                    http://openengine.dk/code/extensions/SDL
darcs /extensions/TGAResource            http://openengine.dk/code/extensions/TGAResource
darcs /extensions/SDLImage               http://openengine.dk/code/extensions/SDLImage
darcs /extensions/OpenGLRenderer         http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/CairoResource 	 http://openengine.dk/code/extensions/CairoResource
darcs /extensions/GenericHandlers 	 http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/TexUtils      	 http://openengine.dk/code/extensions/TexUtils
darcs /extensions/FreeImage       	 http://openengine.dk/code/extensions/FreeImage
darcs /extensions/OpenGLPostProcessEffects       	http://openengine.dk/code/extensions/OpenGLPostProcessEffects

darcs-dev /extensions/HUD                    fh.daimi.au.dk:/users/cgd/code/extensions/HUD
darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/TGAResource            fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/SDLImage               fh.daimi.au.dk:/users/cgd/code/extensions/SDLImage
darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/CairoResource 	     fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource
darcs-dev /extensions/GenericHandlers 	     fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
darcs-dev /extensions/TexUtils  	     fh.daimi.au.dk:/users/cgd/code/extensions/TexUtils
darcs-dev /extensions/FreeImage  	     fh.daimi.au.dk:/users/cgd/code/extensions/FreeImage
darcs-dev /extensions/OpenGLPostProcessEffects fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLPostProcessEffects

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries

# linux libraries

# project data

any /projects/Terrain/data	http://www.openengine.dk/data/projects/Terrain/textures.zip